/* INITIALIZE */

@font-face {
    font-family: Impact;
    src: url(/fonts/impact.ttf)
}

* {
    box-sizing: border-box;
}

h4 {
    margin: 0 0 10px 0;
}

body {
    margin: 0;
    background-color: rgb(231, 157, 107);
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1024px;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

.width-100 {
    width: 100%;
}

.shadow {
    -webkit-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.75);
}

.border-radius {
    border-radius: 20px;
}

.fa-download {
    background-color: white;
}

/*------------------------ NAV BAR ------------- */

.open-menu .nav-list {
    transform: translateX(0);
}

nav {
    height: 130px;
    background-image: linear-gradient(to right top, #6ec0e3, #85c8e4, #9ad0e5, #aed7e7, #c2dfe9);
    border-bottom: 20px solid rgb(255, 176, 87)
}

nav li {
    display: inline-block;
    width: 100px;
    height: 100px;
    font-size: 1.258rem;
    font-family: 'Montserrat', sans-serif;
}

nav li {
    margin-inline-start: 5.875rem;
}

nav li:hover {
    cursor: pointer;
    box-shadow: inset 0px -7px 0px 0px rgba(255, 182, 13, 1);
}

.logo img {
    width: 200px;
}

.btn-menu {
    display: none;
}

.bottom {
    margin-block-end: 0.625rem;
}

.text-line-container {
    width: 100%;
    height: auto;
}

.pointer {
    cursor: pointer;
}

.fas {
    border-radius: 5px;
    border: 1px solid gray;
}

.fas:focus {
    outline: none;
}

.screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.26);
    z-index: 1;
    display: none;
}

.open-menu .screen {
    display: block;
}

.scale-up:hover {
    transform: scale(1.025);
}

/*------------------------------- MEME SECTION ----------------------------------*/

/*---------------- CANVAS SECTION --------------------*/

.canvas-container {
    position: relative;
    width: 500px;
}

canvas {
    border: 2px solid black
}

/*------------------------------- TEXT CONTROL SECTION ----------------------------------*/

.main-meme-container {
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.466);
    padding: 1rem 2rem;
}

.edit-text input {
    margin-bottom: 0.625rem;
}

.control-box {
    border: 10px dotted lightsalmon;
    width: 500px;
    height: 500px;
}

.tools {
    width: 100%;
    padding: 0 50px;
}

/* ------- BUTTON OF TOOL SECTION ------ */

.fa-trash-alt {
    background-color: rgb(246, 93, 93);
}

.fa-plus {
    background-color: rgb(136, 233, 144);
}

.fa-arrow-up {
    background-color: rgb(136, 210, 233);
}

.fa-arrow-down {
    background-color: rgb(211, 101, 183);
}

/* ALIGN THE ITEMS OF TOOL SECTION */

.line-select {
    background-color: lightslategray;
    border-radius: 20px;
    width: 100%;
    padding: 0.625rem 3.125rem;
}

.line-select button:not(:last-child) {
    margin-inline-end: 0.3125rem;
}

.line-move {
    background-color: rgb(132, 167, 202);
    border-radius: 20px;
    width: 100%;
    padding: 0.625rem 2.355rem;
}

.align-text {
    border-radius: 20px;
    width: 100%;
    padding: 0.625rem 5.125rem;
    background-color: rgb(98, 196, 98);
}

.edit-text {
    padding: 0 4.975rem;
    background-color: rgb(179, 126, 170);
    border-radius: 20px;
    margin-bottom: 0.625rem;
}

.increase-font {
    padding: 0.625rem 4.900rem;
    border-radius: 20px;
    background-color: rgb(199, 122, 122);
}

.tools input {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
}

.tools input:focus {
    outline: none;
}

.txt-input::placeholder {
    font-family: 'impact';
    letter-spacing: 2px;
    text-align: center;
}

.btn-tool-box {
    width: 50px;
    height: 40px;
}

.share-save-buttons form {
    width: 100%;
}

/* -------- SAVED MEME SECTION --------- */

.saved-meme-container {
    /* width: 90vw; */
    /* height: 90vh; */
}

.saved {
    padding: 50px;
    background-color: rgba(128, 83, 191, 0.493);
}

.saved img {
    margin-inline-end: 10px;
    margin-block-end: 10px;
}

/* -------------------------- PHOTOS SECTION ------------------ */

.keywords-section {
    height: 130px;
}

.keywords-section input {
    height: 50px;
    border-radius: 20px;
    width: 250px;
}

.keywords-section input::placeholder {
    text-align: center;
}

.keywords-section input:focus {
    outline: none;
}

.photo-container {
    background-color: rgb(104, 164, 167);
    padding: 20px 20px;
    border-radius: 50px;
}

.photo-container img {
    width: 155px;
    height: 155px;
    margin-inline-end: 5px;
    margin-block-end: 15px;
    object-fit: cover;
}

.facebook-btn {
    display: inline-block;
    margin-bottom: 10px;
    ;
}

.btn {
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 5px;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
}

/* --------------FLEX HELPERS------------------- */

.flex {
    display: flex;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

/*----------------- MEDIA QUERIES----------------------- */

@media (max-width:1024px) {
    .container {
        width: 100vw;
    }
    .logo-container {
        justify-content: center;
    }
    .align-text {
        border-radius: 20px;
        width: 100%;
        padding: 0.625rem 1rem;
    }
    .edit-text {
        padding: 0 0;
    }
    .share-form {
        padding: 0 0;
    }
    .increase-font {
        padding: 0.625rem 0;
    }
}

@media (max-width:940px) {
    .logo-container {
        justify-content: space-around;
    }
    .main-meme-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 90vw;
        margin: 0 auto;
    }
    .btn-menu {
        display: block;
    }
    .nav-list {
        position: fixed;
        top: 0;
        transition: .5s ease-in-out;
        transform: translateX(100%);
        flex-direction: column;
        justify-content: space-around;
        right: 0;
        width: 200px;
        padding-top: 5.625rem;
        height: 100vh;
        z-index: 1;
        color: white;
        background-color: rgba(224, 173, 96, 0.753);
    }
    .nav-list li {
        display: block;
        margin: 0 0 20px auto;
        height: 50px;
        width: 100%;
        text-align: center;
        margin-bottom: 120px;
    }
    .nav-list li:hover {
        background-color: rgb(122, 175, 206);
    }
    .align-text {
        border-radius: 20px;
        width: 100%;
        padding: 0.625rem 3.575rem;
    }
    .edit-text {
        padding: 0 2.575rem;
    }
    .share-form {
        padding: 0 1.575rem;
    }
}

@media (max-width:740px) {
    .container {
        width: 31.25rem;
    }
    .photo-container img {
        width: 150px;
        height: 150px;
    }
    .main-meme-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .align-text {
        border-radius: 20px;
        width: 100%;
        padding: 0.625rem 2.875rem;
    }
    .edit-text {
        padding: 0 1.475rem;
    }
}

@media (max-width:540px) {
    .canvas-container {
        width: 90vw;
    }
    canvas {
        width: 100%;
        border: 2px solid black
    }
    .control-box {
        width: 90vw;
    }
    .line-select {
        display: flex;
        justify-content: center;
    }
    .container {
        width: 90vw;
    }
    .main-meme-container {
        width: 100%;
    }
    .nav-list {
        position: fixed;
        flex-direction: column;
        right: 0;
        top: 0;
        height: 100vh;
    }
    .photo-container img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width:414px) {
    .photo-container {
        width: 98vw;
    }
    .line-move {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
    .align-text {
        display: flex;
        justify-content: space-around;
        border-radius: 20px;
        width: 100%;
    }
    .edit-text {
        display: flex;
        flex-direction: row;
        justify-items: center;
    }
    .line-select {
        padding: 0.625rem 3.125rem;
    }
    .line-move {
        background-color: rgb(132, 167, 202);
        border-radius: 20px;
        width: 100%;
        padding: 0.625rem 1.125rem;
    }
    .increase-font {
        padding: 10px 0;
        display: flex;
    }
    .tools {
        padding: 0;
    }
}