/* INITIALIZE */

@font-face {
    font-family: Impact;
    src: url(/fonts/impact.ttf)
}

* {
    box-sizing: border-box;
}

h4 {
    margin: 0 0 10px 0;
}

body {
    margin: 0;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1024px;
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
}

canvas {
    width:100%;
    border: 2px solid black
}

.width-100 {
    width: 100%;
}

nav {
    height: 130px;
    background-image: linear-gradient(to right top, #6ec0e3, #85c8e4, #9ad0e5, #aed7e7, #c2dfe9);
    border-bottom: 20px solid rgb(255, 176, 87)
}

nav li {
    display: inline-block;
    width: 100px;
    height: 100px;
    font-size: 1.258rem;
    font-family: 'Montserrat', sans-serif;
}

nav li {
    margin-inline-start: 5.875rem;
}

nav li:hover {
    cursor: pointer;
    box-shadow: inset 0px -7px 0px 0px rgba(255, 182, 13, 1);
}

.logo img {
    width: 200px;
}

.bottom {
    margin-block-end: 0.625rem;
}

.text-line-container {
    width: 100%;
    height: auto;
}


.pointer {
    cursor: pointer;
}

.fas {
    border-radius: 5px;
    border: 1px solid gray;
    /* box-shadow: 2px 2px 12px 1px; */
}

.fas:focus {
    outline: none;
}



/*------------------------- MEME SECTION --------------------------------*/

.meme-container {
    margin-top: -650px;
}

.main-meme-container {
  
}

.control-box {
    border:10px dotted lightsalmon;
    width: 500px;
    height: 500px;
}
.tools select{
    -webkit-box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.75);
    

    
    
}
.tools button{
    -webkit-box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.75);
    
}
button:hover{
    transform: scale(1.050);
}
a:hover{
    transform: scale(1.050);
}
input[type="button"]:hover{
    transform: scale(1.050);
}
.tools {
      width: 100%;
    padding:0 50px;
    
}
.fa-trash-alt{
    background-color: rgb(246, 93, 93);
}
.fa-plus{
    background-color: rgb(136, 233, 144);
}
.fa-arrow-up{
    background-color: rgb(136, 210, 233);
}
.fa-arrow-down{
    background-color: rgb(211, 101, 183);
    
}


.line-select{
    background-color: lightslategray;
    border-radius: 20px;
    width:100%;
    padding:0.625rem 3.125rem;
}
.line-select button:not(:last-child){
    margin-inline-end:0.3125rem ;
}
.line-move{
    background-color: rgb(132, 167, 202);
    border-radius: 20px;
    width:100%;
    padding:0.625rem 3.125rem;   
}
.align-text{
  
    border-radius: 20px;
    width:100%;
    padding:0.625rem 3.125rem;  
}


.edit-text input{
    margin-bottom: 0.625rem;
}

.tools input {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
}

.txt-input::placeholder {
    font-family: 'impact';
    letter-spacing: 2px;
    padding-left: 3.875rem;
}

.tools input:focus {
    outline: none;
}

.btn-tool-box {
    width: 50px;
    height: 40px;
}

.share-save-buttons form {
    width: 100%;
}

/*-------------- CANVAS SECTION --------*/

.canvas-container {
    position: relative;
    width: 500px;
}

/* -------- SAVED MEME SECTION --------- */

.saved-meme-container {
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 150px;
    left: 2rem;
}

.saved-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

.saved img {
    margin-inline-end: 10px;
}

/* -------------------------- PHOTOS SECTION ------------------ */
.photo-container{
    padding:150px 0;
}

.photo-container img {
    width: 155px;
    height: 155px;
    margin-inline-end: 5px;
    margin-block-end: 5px;
    object-fit: cover;
}

.photo-container img:hover {
    transform: scale(1.015);
    
}

.facebook-btn {
    display: inline-block;
    margin-bottom: 10px;
    ;
}

.btn {
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 5px;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
}

/* --------------FLEX HELPERS------------------- */

.flex {
    display: flex;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

/*----------------- MEDIA QUERIES----------------------- */

@media (max-width:414px){
    .main-meme-container{
        flex-direction: column;
    }
   
}